/*          Responsive styles
================================================== */
/*                     Tablet Landscape
=======================================================================================*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	
	/*--------------------------------------
   Header And SLider
----------------------------------------*/
    
    #header_one .logo {
        border: medium none;
        padding: 20px 0;
        text-align: center;
        width: 100%;
    }
    #header_one .logo::before {
        left: 110%;
        width: 0%;
    }
    #header_one .logo::after {
        margin-right: 120px;
    }
    #header_one .logo a {
        margin-top: 0px;
        display: inline-block;
    }
    #header_one .header-info {
        width: 100%;
        margin-bottom: 0px;
    }
    #navigation > ul > li > a {
        padding: 30px 18px;
    }
    /*   Slider Section                
============================ */
.nivo-caption {
    top: 34%;
}
 
    .nivo-controlNav {
        top: 28.5%;
    }

.slider_v3 .nivo-caption {
    top: 67%;
	left: 58px;
}
.slider_v3 .slide-text h2 {
    font-size: 46px;
    margin-top: 45px;
}	
.slider_v3 p {
    margin-top: -35px;
}
.slider_v3 .nivo-controlNav {
        display: none;
    }
    .about-section {
        padding-bottom: 100px;
    }
    .about_v2 .ab-inf {
        margin-left: 0px;
    }
    /*   Offer Section                
============================ */
    
    section.impres h3 {
        letter-spacing: 1px;
    }
    /*   Services Section                
============================ */
    
    .serview-overly::after {
        width: 90%;
    }
    .promotab-itms .panel {
        padding-bottom: 32px;
    }
    /*   portfolio Section                
============================ */
    
    .portfolio-warp .product-detail h4,
    .portfolio-warp .product-detail-bottom h4 {
        font-size: 19px;
    }
    .portfolio-2 .product-detail,
    .portfolio-4 .product-detail,
    .portfolio-6 .product-detail {
        margin-top: 208px;
    }
    /*   testimonial Section                
============================ */
    
    .testimonial-section {
        padding-bottom: 80px;
    }
    /*   video Section                
============================ */
    
    .play-video {
        left: 50%;
    }
    .video-content p {
        margin-left: 529px;
    }
    .client-section .owl-theme .owl-controls .owl-nav [class*="owl-"] {
        margin-bottom: -50px;
    }

}
/*                      Tablet Portrait
=======================================================================================*/

@media (min-width: 768px) and (max-width: 991px) {
	
	 /*--------------------------------------
   Header And SLider
----------------------------------------*/
    
    #header_one .logo {
        border: medium none;
        padding: 20px 0;
        text-align: center;
        width: 100%;
    }
    #header_one .logo::before {
        left: 110%;
        width: 0%;
    }
    #header_one .logo::after {
        margin-right: 120px;
    }
    #header_one .logo a {
        margin-top: 0px;
        display: inline-block;
    }
    #header_one .header-info {
        width: 100%;
        margin-bottom: 0px;
    }
    #header_one .header-info ul {
        text-align: left;
        padding-left: 0px;
    }
    #header_one .header-info ul li {
        border-right: 1px solid transparent;
    }
     .header-right {
        display: none;
    }
	#header_one .media-body > a {
    font-size: 13px;
}
    /*   Sider Section                
============================ */
    
    .manimenu a {
        padding: 30px 10px;
    }
    .navbar-right {
        margin-right: 20px !important;
    }
    .manimenu .navbar-header a.navbar-brand {
        margin-left: 0px;
    }
    .nivo-controlNav {
        top: 28.5%;
    }
    .slider-area .btn {
        margin-top: -12px;
    }
    .slider_v3 .nivo-controlNav {
        display: none;
    }
 
	.nivo-caption {
    top: 34%;
}

.slider_v3 .nivo-caption {
    top: 67%;
	left: 58px;
}
.slider_v3 .slide-text h2 {
    font-size: 46px;
    margin-top: 45px;
}	
.slider_v3 p {
    margin-top: -35px;
}
    /*   About Section                
============================ */
    
    .about-section {
        padding-bottom: 80px;
    }
    .about-warp .col-sm-5 {} .about-warp .col-sm-2 {
        width: 100%;
        text-align: center;
    }
    .about-right {
        text-align: left;
    }
    .about-left h3 {
        text-align: left;
    }
    .about-left {
        margin-top: -30px;
    }
    .ab-inf {
        margin-top: 19px;
    }
    .ab-inf p {
        font-size: 13px;
    }
    /*   Offer Section                
============================ */
    
    .choose-us .btn-chos {
        padding: 15px 10px;
        min-width: 83px;
        letter-spacing: 1px;
        margin-top: 17px;
    }
    /*   Services Section                
============================ */
    
    .promotab-itms .panel-title a {
        font-size: 18px;
    }
    .serview-overly::after {
        width: 87%;
    }
    .promotab-itms .panel-title::before {
        top: 80px;
    }
    .promotab-itms .panel {
        padding-bottom: 40px;
    }
    .portfolio-1 .product-detail::before,
    .portfolio-3 .product-detail::before,
    .portfolio-5 .product-detail::before {
        left: -18%;
    }
    .portfolio-2 .product-detail::before,
    .portfolio-4 .product-detail::before,
    .portfolio-6 .product-detail::before {
        left: 91%;
        margin-left: 15px;
    }
    /*   video Section                
============================ */
    
    .video-content p {
        margin-left: 0px;
        float: none;
        margin-top: 0px;
    }
    .video-content {
        text-align: center;
    }
    .play-video {
        left: 50%;
        margin-left: -26px;
        margin-top: -56px;
    }
    #video {
        padding-top: 159px;
    }
    /*   pricing Section                
============================ */
    
    .pricing-box {
        padding: 40px 13px 40px 15px;
    }
    .pricing-box .btn {
        padding: 15px 8px;
    }
    /*    Landingpage v2               
============================ */
    
    .about_v2 .about-left .about-more {
        text-align: left;
    }
    /*   Blog  page               
============================ */
    .blog-post {
		margin-right: 0px;
	}
    .blog_container .blog-thumb-left {
        float: none;
        position: relative;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .blog_container .single-post-right {
        float: none;
        width: 100%;
    }
    .blog_container .blog_area_three .blog-post {
        margin-top: -23px;
        margin-left: 10px;
    }
    .blog_container .blog-post {
        margin-right: 0px;
    }
    .blog_container .styled-pagination li {
        margin-top: 35px;
    }
    .client-section .owl-theme .owl-controls .owl-nav [class*="owl-"] {
        margin-bottom: -99px;
    }
}
/*                          Phone
=======================================================================================*/

@media only screen and (max-width: 767px) {
	
	/*--------------------------------------
   Header And SLider
----------------------------------------*/
    
    #header_one .logo {
        border: medium none;
        padding: 3px 0;
        text-align: center;
        width: 100%;
        height: 70px;
    }
    #header_one .logo::before {
        left: 110%;
        width: 0%;
    }
    #header_one .logo::after {
        /*! margin-right: 120px; */
        
        display: none;
    }
    #header_one .logo a {
        margin-top: 0px;
    }
    #header_one .header-info {
        display: none;
        /*! margin-bottom:0px; */
    }
    .header-right {
        float: none !important;
        margin-top: -28px;
        left: -47px;
        top: 16px;
        position: absolute;
    }
    .topp-cart {
        padding: 20px;
        right: -166px;
        top: 107%;
        width: 270px;
    }
    .header-bottom-search {
        right: -228px;
        top: 107%;
        width: 255px;
    }
    .header-setting {
        top: 107%;
        right: -78px;
    }
    #navigation.small-screen #menu-button {
        padding: 23px;
    }
    #navigation > ul > li > a {
        padding: 16px 20px;
    }
    #navigation > ul > li.has-sub > a {
        padding: 16px 20px;
    }
 
 
.shop_setting_inr {
    right: -101px;
    top: 104%;
}
.headr_btom_cart {
    right: -167px;
    top: 104%;
    width: 273px;
}
.search_icon_inr {
    right: -223px;
    top: 104%;
    width: 245px;
}
.cart-button ul li a {
    width: 111px;
}

    header .container {
        padding-top: 130px;
    }
    #main-menu > li > a {
        font-size: 13px;
        text-align: left;
    }
    #menu-toggle {
        top: 8px;
        right: -71px;
    }
    #menu-left {
        left: -69%;
        width: 68%;
    }
.manimenu.top-nav-collapse {
    padding: 10px 0px;
}
    .form-control.search {
        font-size: 11px;
        letter-spacing: 2px;
    }
    .manimenu .navbar-header a.navbar-brand {
        margin-left: 0px;
        margin-top: -14px;
    }
    .nivo-caption {
        display: none !important;
    }
    .nivo-controlNav {
        top: 49%;
    }
    .nivo-controlNav a {
        height: 6px;
        margin-bottom: 9px;
        width: 6px;
    }
    .nivo-controlNav a::before {
        height: 10px;
        width: 10px;
        left: -2px;
        top: -2px;
    }
    #socials > li > a {
        padding: 7px 0px;
        border: 1px solid transparent;
        margin: 0 0px;
    }
    .slider_v1 .nivo-controlNav {
        top: 74%;
    }
    .slider_v3 .nivo-controlNav {
        top: 74%;
    }
    /*   About Section                
============================ */
    
    .base-header2 p {
        max-width: 100%;
    }
    .base-header2 h3 {
        font-size: 28px;
        line-height: 36px;
    }
    .about-warp {
        padding-left: 15px;
        padding-right: 15px;
    }
    .about-right img {
        margin-left: 0px;
        top: -25px;
    }
    .about-left h3 {
        text-align: center;
    }
    .about-left .about-more {
        text-align: center;
    }
    .about-section {
        padding-bottom: 80px;
    }
    .about-left {
        margin-top: 0px;
    }
    .ab-inf {
        margin-top: 20px;
    }
    .ab-inf p {
        text-align: center;
    }
    /*   Offer Section                
============================ */
    
    .choose-us {
        padding-top: 90px;
    }
    section.impres h3 {
        font-size: 20px;
        text-align: left;
        text-transform: capitalize;
        letter-spacing: 1px;
        margin-top: 12px;
    }
    section.impres p {
        font-size: 17px;
        letter-spacing: 1px;
        margin-top: 15px;
        margin-bottom: 23px;
    }
    /*   Services Section                
============================ */
    
    .base-header h3 {
        letter-spacing: 0px;
        font-size: 39px;
        line-height: 40px;
    }
    .promotab-section {
        padding-bottom: 64px;
    }
    .promotab-itms .panel-title a {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .serview-overly::after {
        width: 88%;
    }
    .promotab-itms .panel {
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
    .serview-overly::after {
        bottom: 0px;
        top: 0px;
        width: 100%;
    }
    .serview-overly::after {
        background: none;
    }
    .serview-overly::after {
        -webkit-box-shadow: none;
    }
    .service-margin {
        margin-top: 0px;
    }
    .serview-overly:hover {
        -ms-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    /*   portfolio Section                
============================ */
    
    .portfolio-1 .product-detail,
    .portfolio-3.product-detail,
    .portfolio-5 .product-detail {
        margin-top: 45px;
    }
    .portfolio-2 .product-detail,
    .portfolio-4 .product-detail,
    .portfolio-6 .product-detail {
        margin-top: 0px;
    }
    .portfolio-2 .portfolio-hover,
    .portfolio-4 .portfolio-hover,
    .portfolio-6 .portfolio-hover {
        margin-top: 70px;
    }
    .product-detail::before {
        left: 50%;
        margin-left: -44px;
    }
    .portfolio-warp .product-detail,
    .portfolio-warp .product-detail-bottom {
        text-align: center;
    }
    .portfolio-warp:hover .product-detail::before {
        width: 90px !important;
        margin-left: -47px !important;
    }
    .portfolio-2 .product-detail::before,
    .portfolio-4 .product-detail::before,
    .portfolio-6 .product-detail::before {
        left: 50%;
        margin-left: -44px;
    }
    .port-list {
        padding-left: 0px;
        margin-top: 20px;
    }
    .remodal h3 {
        margin: 40px 0 25px 0;
        font-size: 27px;
    }
    .port-modal-img {
        margin-top: 20px;
    }
    .full-view {
        top: 0px;
        left: 30%;
    }
    /*   testimonial Section                
============================ */
    
    .testimonial-section {
        padding-bottom: 90px;
    }
    .testimonial .owl-carousel .item .testi-comment h4 {
        font-weight: 600;
        font-size: 13px;
    }
    .testimonial-section .owl-theme .owl-controls {
        margin-top: 193px;
    }
    .testimonial .owl-item.center .testi-comment {
        margin: 0 0px 0 0px;
        padding: 10px 0px 10px 0px;
    }
    .testimonial .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background: #e67e22;
    }
    .testimonial .owl-theme .owl-dots .owl-dot span {
        border: 1px solid #e67e22;
    }
    /*   video Section                
============================ */
    
    .video-content p {
        margin-left: 0px;
        float: none;
        margin-top: 0px;
    }
    .video-content {
        text-align: center;
    }
    .play-video {
        left: 50%;
        margin-left: -26px;
        margin-top: -56px;
    }
    #video {
        padding-top: 159px;
    }
    /*   Skill  Section                
============================ */
    
    .skill h3 {
        margin-bottom: 55px;
        line-height: 46px;
    }
    .skill .skill_lists ul {
        margin-right: 9px;
        padding-left: 0px;
    }
    /*   Blog  Section                
============================ */
    
    .blog-thumb-left {
        float: none;
        position: relative;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .single-post-right {
        float: none;
        width: 100%;
    }
    .blog_area_three {
        padding-bottom: 55px;
    }
    .blog_area_three .blog-post {
        margin-top: -23px;
        margin-left: -15px;
    }
    .blog_area_three .styled-pagination ul {
        margin-left: -15px;
    }
    .blog-post {
        margin-right: 0px;
    }
    .blog-area {
        padding-right: 0px;
    }
    .blog_two .blog-post {
        margin-right: -15px;
        margin-left: -15px;
    }
    /*   pricing  Section                
============================ */
    
    .pricing-section .col-sm-3 {
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 15px;
    }
    /*   pricing  Section                
============================ */
    
    .member {
        margin-bottom: 15px;
    }
    .team-section .social li {
        margin-bottom: 10px;
    }
    .contact_v1 {
        padding-bottom: 0px;
    }
    .map-container {
        margin-top: 80px;
    }
    .contact-addrs {
        margin-left: 15px;
        margin-bottom: 30px;
        margin-top: -15px;
    }
    .header_onepage .ban1_txt h2 {
        font-size: 31px;
        line-height: 40px;
    }
    .header_onepage .ban1_txt h3 {
        letter-spacing: 2px;
        margin-bottom: 15px;
    }
    .header_onepage .ban1_txt p {
        padding-right: 0px;
        margin-top: 15px;
    }
    .header_onepage .ban1_txt {
        margin-top: 215px;
    }
    .ban1_txt {
        margin-top: 100px;
    }
    .header-caption h3 {
        font-size: 20px;
    }
    .base-header2 {
        text-align: center;
    }
    .manimenu .navbar-collapse {
        max-height: 700px;
        padding-right: 5px;
        border-color: transparent;
        margin-left: 0px !important;
        margin-right: 0px !important;
        background: #0B0A0A;
    }
    .navbar-fixed-top ul li a {
        padding-bottom: 15px;
        padding-top: 15px;
        padding-left: 9px;
    }
    .manimenu ul > li {
        float: none;
    }
    .manimenu li ul {
        top: 52px;
    }
    .navbar-default .navbar-toggle {
        border-color: #fff;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    .map_indx_v2 {
        margin-top: -80px;
    }
}
/* Mobile Vertical Layout: 488px 
===============================================================================*/

@media only screen and (min-width: 488px) and (max-width: 767px) {
    .onepage_v2 .ban1_txt {
        margin-left: 117px;
        width: 70%;
    }
    /*   Service  Section                
============================ */
    
    .promotab-section .col-xs-12 {
        width: 50%;
    }
    .promotab-itms .panel-title a {
        font-size: 18px;
    }
    .promotab-itms .panel-title::before {
        top: 45px;
    }
    .full-view {
        left: 40%;
    }
    /*   About  Section                
============================ */
    
    .about-right {
        text-align: center;
    }
    .about-left {
        margin-top: 40px;
    }
    .about_sec_onepg .col-xs-12 {
        width: 100% !important;
    }
    .about-section_multi .col-xs-12 {
        width: 50%;
    }
    .expert-section .col-xs-12 {
        width: 50%;
    }
    .work-section .row .project-list .col-xs-12 {
        width: 50%;
    }
    .team-section .col-xs-12 {
        width: 50%;
    }
    .pricing-section .col-xs-12 {
        width: 50%;
    }
}