 .btn-chos:hover {
     border: 3px solid #4CAF50;
 }
 .hvr-bounce-to-top::before {
     background: #4CAF50;
 }
  .base-header small {
     color: #4CAF50;
 }
   .ylow{
	color: #4CAF50;
  }
  #header_one .logo {
     background: #4CAF50;
 }
  #header_one .logo::after {
     background: #4CAF50 url(../../images/logo_bg.png) no-repeat;
 }
  #header_one .logo::before {
     background: #4CAF50;
 }
  #header_one .header-info h6 {
     color: #4CAF50;
 }
 
  .cart-inner {
     background: #4CAF50;
 }
  .search_icon_inr .btn-search {
     background: #4CAF50;
 }
  .cart-title:hover {
     color: #4CAF50;
 }
  .header-cart .action i:hover {
     color: #4CAF50;
 }
  .header-right ul li i:hover {
     color: #4CAF50;
 }
  .shop_setting_inr a:hover {
     color: #4CAF50;
 }
  .cart-button ul li a {
     border: 1px solid #4CAF50;
     background: #4CAF50;
 }
  #navigation > ul > li > .active {  
     color: #4CAF50;
 }
 
  #navigation > ul > li:hover > a {
     background: #4CAF50;
 }
 
  #navigation ul ul li a {
     border-bottom: 1px solid #4CAF50;
 }
  #navigation ul ul li:hover > a,
 #navigation ul ul li a:hover {
     color: #4CAF50;
 }
 
  #menu-toggle.dark span {
     background-color: #4CAF50;
 }
 
  #main-menu > li > a:hover {
     color: #4CAF50;
 }
 
  #socials > li > a {
     color: #4CAF50;
     border: 1px solid #eee;
 }
  .modCloseButton {
     background: #4CAF50;
 }
 
  .mainMenu ul li a:hover,
 .mainMenu > ul > li.active > a {
     color: #4CAF50;
 }
  .nivo-control.active {
     background: #4CAF50;
 }
  .nivo-controlNav a.active::before {
     border-color: #4CAF50;
 }
  .ban1_txt h3 {
     color: #4CAF50;
 }
  .manimenu a:hover {
     text-decoration: none;
     color: #4CAF50;
 }
  .manimenu li ul a:hover {
     color: #4CAF50;
 }
  .single-page-nav .current {
     color: #4CAF50;
 }
  .about-section_multi .expert-item:hover .icon-fea::before {
     color: #4CAF50;
 }
  .about-left h3 span {
     color: #4CAF50;
 }
  .expert-item .icon-fea::before {
     color: #4CAF50;
 }
  .expert-item:hover .icon-fea::before {
     border: 1px dotted #4CAF50;
 }
  .expert-item:hover .fea-left {
     color: #4CAF50;
 }
  .promotab-itms .panel-title::before {
     border-top: 1px solid #4CAF50;
 }
  .skillbar-bar {
     background: #4CAF50;
 }
  .project-filter ul li:hover {
     background: #4CAF50;
 }
  .project-filter .hvr-underline-from-left::before {
     background: #4CAF50;
 }
 
  .project-filter ul li.active {
     border-bottom: 2px solid #4CAF50;
     background: #4CAF50;
 }
  .social_port a {
     color: #4CAF50;
 }
  .member .info {
     background: #4CAF50;
 }
  .skill .skillbar-bar {
     background: #4CAF50;
 }
  .pricing-box:hover {
     border-top: 4px solid #4CAF50;
 }
  .pricing-box h2 {
     color: #4CAF50;
 }
  .testimonial:hover .owl-theme .owl-controls .owl-nav [class*="owl-"] {
     color: #4CAF50;
 }
 
  .tesi-rating .fa {
     color: #4CAF50
 }
  .testimonial_multi:hover .owl-theme .owl-controls .owl-nav [class*="owl-"] {
     color: #4CAF50;
 }
  .client-box img {} .client-box:hover img {} .client-section .owl-theme .owl-controls .owl-page.active span {
     background: #4CAF50;
 }
  .client-section .owl-carousel .owl-item img {
	 border: 5px solid #4CAF50;
 }
  .client-section .owl-theme .owl-controls .owl-nav [class*="owl-"] {
     color: #4CAF50;
 }
  .form-control:focus {
     border: 1px solid #4CAF50;
     border-left: 3px solid #4CAF50;
 }
  .footer-section h3 {
     color: #4CAF50;
 }
 
  .social_footer a:hover {
     background: #4CAF50;
 }
  .footer-links a {
     color: #4CAF50;
 }
 
  .blog-header h3 {
     color: #4CAF50;
 }
  .styled-pagination li a:hover,
 .styled-pagination li a.active {
     background: #4CAF50;
     border-color: #4CAF50;
 }
 
  .social-icons-small li a:hover {
     background: #4CAF50;
     border: 1px solid #4CAF50;
 }
  .widget .widget-title {
     color: #4CAF50;
 }
 
  .widget-tags > a:hover {
     border-color: #4CAF50;
     background: #4CAF50;
 }
 
  .comments li .comment:hover {
     border-bottom: 1px solid #4CAF50;
 }
  .comments li .comment img.comment-avatar {
     border: 2px solid #4CAF50;
 }
  .comments li .comment span.comment-reply a {
     color: #4CAF50;
     border: 1px solid #4CAF50;
 }
 
  .comments li .comment span.comment-reply a:hover {
     background: #4CAF50;
 }
  #contactForm .submit-button:hover {
     color: #4CAF50;
     border: 3px solid #4CAF50;
 }
  #contactForm .submit-button {
     background: #4CAF50;
     border: 3px solid #4CAF50;
 }
 
  .post-option .prev-post:hover,
 .post-option .next-post:hover {
     color: #4CAF50;
 }
  .post-option .middle-icon a:hover {
     color: #4CAF50;
 }
  .blog-area .carousel-control {
     color: #4CAF50;
 }
  .slider_v3 h3 {
     color: #4CAF50 !important;
 }
  .slider_v1 h3 {
     color: #4CAF50 !important;
 }
 
  .header_onepage .ban1_txt h3 {
     color: #4CAF50;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 